.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Nav {
  background-color: #e7c866;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Nav .links {
  display: flex;
  height: inherit;
  align-items: center;
  gap: 2rem ;
}

.Home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Products {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-around;
  padding: 5rem 10rem;
}

.Women, .Men, .Jewelry, .Electronics {
  width: 100%;
  min-height: 90vh;
  max-height: 100%;
}

.ForEachDiv {
  background-color: aqua;
  padding: 4rem 4rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.ForEachDiv div {
  background-color: pink;
  min-width: 10rem;
  min-height: 15rem;
}

.ForEachDiv div img {
  width: 5rem;
}